################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chapter-1/HelloWorldApplication/.vs/HelloWorldApplication
/Chapter-1/HelloWorldApplication/HelloWorldApplication/pkg/Debug
/Chapter-1/HelloWorldApplication/HelloWorldApplication/obj/x64/Debug
/Chapter-1/HelloWorldApplication/HelloWorldService/obj/x64
/Chapter-1/HelloWorldApplication/HelloWorldService/bin/x64/Debug
/Chapter-1/HelloWorldApplication/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.7
/Chapter-1/HelloWorldApplication/packages/Microsoft.ServiceFabric.Services.3.2.176
/Chapter-1/HelloWorldApplication/packages/Microsoft.ServiceFabric.Diagnostics.Internal.3.2.176
/Chapter-1/HelloWorldApplication/packages/Microsoft.ServiceFabric.Data.Interfaces.3.2.176
/Chapter-1/HelloWorldApplication/packages/Microsoft.ServiceFabric.Data.Extensions.1.4.176
/Chapter-1/HelloWorldApplication/packages/Microsoft.ServiceFabric.Data.3.2.176
/Chapter-1/HelloWorldApplication/packages/Microsoft.ServiceFabric.6.3.176
/Chapter-2/StatelessApplication/.vs/StatelessApplication
/Chapter-2/StatelessApplication/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.7
/Chapter-2/StatelessApplication/StatelessApplication/pkg/Debug
/Chapter-2/StatelessApplication/StatelessApplication/obj/x64/Debug
/Chapter-2/StatelessApplication/Web1/bin/Debug/netcoreapp2.1/win7-x64
/Chapter-2/StatelessApplication/Web1/obj
/Chapter-2/CalculatorApplication/V1/.vs/CalculatorApplication
/Chapter-2/CalculatorApplication/V1/CalculatorApplication/pkg/Debug
/Chapter-2/CalculatorApplication/V1/CalculatorApplication/obj/x64/Debug
/Chapter-2/CalculatorApplication/V1/CalculatorService/obj
/Chapter-2/CalculatorApplication/V1/CalculatorService/bin/Debug/netcoreapp2.1/win7-x64
/Chapter-2/CalculatorApplication/V1/CalculatorService.Interfaces/obj/Debug
/Chapter-2/CalculatorApplication/V1/CalculatorService.Interfaces/bin/Debug
/Chapter-2/CalculatorApplication/V1/CalculatorWeb/obj
/Chapter-2/CalculatorApplication/V1/CalculatorWeb/bin/Debug/netcoreapp2.1/win7-x64
/Chapter-2/CalculatorApplication/V1/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.7
/Chapter-2/CalculatorApplication/V1/packages/Microsoft.ServiceFabric.Services.Remoting.3.2.176
/Chapter-2/CalculatorApplication/V1/packages/Microsoft.ServiceFabric.Services.3.2.176
/Chapter-2/CalculatorApplication/V1/packages/Microsoft.ServiceFabric.FabricTransport.Internal.3.2.176
/Chapter-2/CalculatorApplication/V1/packages/Microsoft.ServiceFabric.Diagnostics.Internal.3.2.176
/Chapter-2/CalculatorApplication/V1/packages/Microsoft.ServiceFabric.Data.Interfaces.3.2.176
/Chapter-2/CalculatorApplication/V1/packages/Microsoft.ServiceFabric.Data.Extensions.1.4.176
/Chapter-2/CalculatorApplication/V1/packages/Microsoft.ServiceFabric.Data.3.2.176
/Chapter-2/CalculatorApplication/V1/packages/Microsoft.ServiceFabric.6.3.176
/Chapter-2/CalculatorApplication/V2/.vs/CalculatorApplication
/Chapter-2/CalculatorApplication/V2/CalculatorApplication/pkg/Debug
/Chapter-2/CalculatorApplication/V2/CalculatorApplication/obj/x64/Debug
/Chapter-2/CalculatorApplication/V2/CalculatorService/obj
/Chapter-2/CalculatorApplication/V2/CalculatorService/bin/Debug/netcoreapp2.1/win7-x64
/Chapter-2/CalculatorApplication/V2/CalculatorService.Interfaces/obj/Debug
/Chapter-2/CalculatorApplication/V2/CalculatorService.Interfaces/bin/Debug
/Chapter-2/CalculatorApplication/V2/packages
/Chapter-2/CalculatorApplication/V3/packages
/Chapter-2/CalculatorApplication/V3/CalculatorService.Interfaces/obj
/Chapter-2/CalculatorApplication/V3/CalculatorService.Interfaces/bin
/Chapter-2/CalculatorApplication/V3/CalculatorService/obj/x64
/Chapter-2/CalculatorApplication/V3/CalculatorService/bin/x64/Debug
/Chapter-2/CalculatorApplication/V3/CalculatorClient/obj
/Chapter-2/CalculatorApplication/V3/CalculatorClient/bin
/Chapter-2/CalculatorApplication/V3/CalculatorApplication/pkg/Debug
/Chapter-2/CalculatorApplication/V3/CalculatorApplication/obj
/Chapter-2/CalculatorApplication/V3/.vs/CalculatorApplication
/Chapter-2/gRPCApplication/.vs/gRPCApplication
/Chapter-2/gRPCApplication/gRPCServer/obj/x64/Debug
/Chapter-2/gRPCApplication/packages
/Chapter-3/SimpleStoreApplication/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.7
/Chapter-3/SimpleStoreApplication/.vs
/Chapter-3/SimpleStoreApplication/SimpleStoreApplication/obj/x64/Debug
/Chapter-3/SimpleStoreApplication/SimpleStoreService/bin/Debug/netcoreapp2.1/win7-x64
/Chapter-3/SimpleStoreApplication/SimpleStoreService/obj
/Chapter-3/SimpleStoreApplication/SimpleStoreWeb/bin/Debug/netcoreapp2.1/win7-x64
/Chapter-3/SimpleStoreApplication/SimpleStoreWeb/obj
/Chapter-4/ActorTicTacToeApplication/.vs/ActorTicTacToeApplication
/Chapter-4/ActorTicTacToeApplication/ActorTicTacToeApplication/pkg/Debug
/Chapter-4/ActorTicTacToeApplication/ActorTicTacToeApplication/obj/x64/Debug
/Chapter-4/ActorTicTacToeApplication/Game/obj/x64/Debug
/Chapter-4/ActorTicTacToeApplication/Game/bin/x64/Debug
/Chapter-4/ActorTicTacToeApplication/Game.Interfaces/obj/x64/Debug
/Chapter-4/ActorTicTacToeApplication/Game.Interfaces/bin/x64/Debug
/Chapter-4/ActorTicTacToeApplication/packages
/Chapter-4/ActorTicTacToeApplication/Player/obj/x64/Debug
/Chapter-4/ActorTicTacToeApplication/Player/bin/x64/Debug
/Chapter-4/ActorTicTacToeApplication/Player.Interfaces/obj/x64/Debug
/Chapter-4/ActorTicTacToeApplication/Player.Interfaces/bin/x64/Debug
/Chapter-4/ActorTicTacToeApplication/TestClient/obj/Debug
/Chapter-4/ActorTicTacToeApplication/TestClient/bin/Debug
/Chapter-5/ConsoleRedirectTestApplication/.vs/ConsoleRedirectTestApplication
/Chapter-5/ConsoleRedirectTestApplication/ConsoleRedirect/obj/x64/Debug
/Chapter-5/ConsoleRedirectTestApplication/ConsoleRedirect/bin/x64/Debug
/Chapter-5/ConsoleRedirectTestApplication/ConsoleRedirectTestApplication/pkg/Debug
/Chapter-5/ConsoleRedirectTestApplication/ConsoleRedirectTestApplication/obj/x64/Debug
/Chapter-5/ConsoleRedirectTestApplication/ConsoleRedirectTestApplication/ConsoleRedirectTestApplication.sfproj.user
/Chapter-5/ConsoleRedirectTestApplication/packages
/Chapter-5/HelloWorldWithData/.vs/HelloWorldWithData
/Chapter-5/HelloWorldWithData/HelloWorldService/obj/x64/Debug
/Chapter-5/HelloWorldWithData/HelloWorldService/bin/x64/Debug
/Chapter-5/HelloWorldWithData/HelloWorldWithData/pkg/Debug
/Chapter-5/HelloWorldWithData/HelloWorldWithData/obj/x64/Debug
/Chapter-5/HelloWorldWithData/packages
/Chapter-6/BadApplication/.vs/BadApplication
/Chapter-6/BadApplication/BadStateful/obj/x64/Debug
/Chapter-6/BadApplication/packages
/Chapter-6/ChaosTest/.vs/ChaosTest/v15
/Chapter-6/ChaosTest/ChaosTest/obj/Debug
/Chapter-6/ChaosTest/ChaosTest/bin/Debug
/Chapter-6/ChaosTest/packages/Microsoft.ServiceFabric.6.3.176
/Chapter-6/ConfigurationUpdate/.vs/ConfigurationUpdate
/Chapter-6/ConfigurationUpdate/ConfigurationUpdate/obj/x64/Debug
/Chapter-6/ConfigurationUpdate/packages
/Chapter-6/ConfigurationUpdate/Stateless1/obj/x64/Debug
/Chapter-6/ConfigurationUpdate/Stateless1/bin/x64/Debug
/Chapter-6/FailoverTest/.vs/FailoverTest
/Chapter-6/FailoverTest/FailoverTest/obj/x64/Debug
/Chapter-6/FailoverTest/packages
/Chapter-6/FailoverTest/TestService/obj/x64/Debug
/Chapter-6/FailoverTest/TestService/bin/x64/Debug
